<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyTwitter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">
                <img th:src="@{/img/bird.svg}" alt="" class="d-inline-block align-text-top" width="40" height=30>
                MyTwitter
            </a>
            <div class="d-flex justify-content-end">
                <div class="px-2">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
                <a class="btn btn-secondary" href="/cadastrar">Cadastrar</a>
            </div>

        </div>
    </nav>

    <div class="row align-items-center w-100 mt-5">
        <div class="col-5">
            <h1 class="text-md-end text-sm-center">Bem-vindo ao MyTwitter</h1>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <img class="w-75" th:src="@{/img/bird.svg}" alt="">
            </div>
        </div>
    </div>

<!--    <div class="container">-->
<!--        <h1>My Twitter</h1>-->
<!--        <a class="btn btn-primary" href="/login">Login</a>-->
<!--        <a href="/cadastrar">Cadastrar</a>-->
<!--    </div>-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</body>
</html>