<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="/">
        <img th:src="@{/img/bird.svg}" alt="" class="d-inline-block align-text-top" width="40" height=30>
        MyTwitter
      </a>
      <div class="d-flex">
        <form class="d-flex" action="/buscarusuario" method="get">
          <input  class="form-control me-2" name="usuario" type="search" placeholder="Buscar Usuário" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="container mr-2">
                <a class="btn btn-primary" aria-current="page" href="/tweetar">Tweetar</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div class="container">
                <a th:text="${usuario.usuario}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" >
                  <li><a class="dropdown-item" th:href="@{/perfil(usuario=${usuario.usuario})}">Meu Perfil</a></li>
                  <li><a class="dropdown-item" href="/logout">Sair</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div th:if="${quantseguidos} != 0" class="d-flex flex-column align-items-center">
    <div th:each="seguido : ${seguidos}" class="card mt-4" style="width: 36rem;">
      <div class="card-body text-center">
        <a class="text-decoration-none text-body" th:href="@{perfil(usuario = ${seguido.usuario})}"><h5 th:text="'@' + ${seguido.usuario}" class="card-text"></h5></a>
      </div>
    </div>
  </div>
  <div th:unless="${quantseguidos} != 0" class="d-flex flex-column align-items-center mt-5">
    <h3 th:text="|${usuarioatual} não segue niguém no momento|"></h3>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>