<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${usuario}"></title>
</head>
<body>

    <h1 th:text="${usuario}"></h1>

    <div th:if="${estaseguindo}">
        <p>Seguindo</p>
    </div>
    <div th:unless="${estaseguindo}">
        <form action="seguir" method="post">
            <input type="text" name="usuario" th:value="${usuario}" hidden>
            <button type="submit">Seguir</button>
        </form>
    </div>

    <div th:each="tweet : ${tweets}">
        <hr>
        <p th:text="${tweet.mensagem}"></p>
        <hr>
    </div>

</body>
</html>